In [1]:
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 定数

In [2]:
import random
NUM_TEST = 300
PUBLIC_RATE = 0.3
random.seed(777)

### LeaderBoard

In [3]:
idx = [i for i in range(NUM_TEST)]
answers = [random.randint(0, 1) for _ in range(NUM_TEST)]

leaderboard = pd.DataFrame({
    'id': idx,
    'answers': answers,
})

In [4]:
pb = random.sample(list(leaderboard['id']), int(NUM_TEST*PUBLIC_RATE))
leaderboard['pb'] = [1 if v in pb else 0 for v in leaderboard['id']]

leaderboard.head()

   id  answers  pb
0   0        0   0
1   1        1   1
2   2        1   1
3   3        1   0
4   4        1   0

In [13]:
sum(leaderboard[leaderboard['pb']==1]['answers'])

45

### logloss

In [5]:
from sklearn.metrics import log_loss


def submit(pred):
    leaderboard_pb = leaderboard[leaderboard['pb']==1]
    pred_pb = pred[leaderboard['pb']==1]
    return log_loss(leaderboard_pb['answers'], pred_pb[[1, 2]])

取りあえずサブミットしてみる

乱数

In [6]:
sample_pred0 = [random.random() for _ in range(NUM_TEST)]
sample_pred1 = [1- val for val in sample_pred0]
sample_pred = [[v, sub0, sub1] for v, sub0, sub1 in zip(idx, sample_pred0, sample_pred1)]
sample_pred = pd.DataFrame(sample_pred)
sample_pred.head()

   0         1         2
0  0  0.999782  0.000218
1  1  0.407867  0.592133
2  2  0.962822  0.037178
3  3  0.927521  0.072479
4  4  0.866378  0.133622

In [7]:
submit(sample_pred)

0.96201204759615899

全部0

In [8]:
sample_pred_zero0 = [1 for _ in range(NUM_TEST)]
sample_pred_zero1 = [0 for _ in range(NUM_TEST)]
sample_pred_zero = [[v, sub0, sub1] for v, sub0, sub1 in zip(idx, sample_pred_zero0, sample_pred_zero1)]
sample_pred_zero = pd.DataFrame(sample_pred_zero)
sample_pred_zero.head()

   0  1  2
0  0  1  0
1  1  1  0
2  2  1  0
3  3  1  0
4  4  1  0

In [9]:
submit(sample_pred_zero)

17.269388197455342

全部1

In [10]:
sample_pred_one0 = [0 for _ in range(NUM_TEST)]
sample_pred_one1 = [1 for _ in range(NUM_TEST)]
sample_pred_one = [[v, sub0, sub1] for v, sub0, sub1 in zip(idx, sample_pred_one0, sample_pred_one1)]
sample_pred_one = pd.DataFrame(sample_pred_one)
sample_pred_one.head()

   0  1  2
0  0  0  1
1  1  0  1
2  2  0  1
3  3  0  1
4  4  0  1

In [11]:
submit(sample_pred_one)

17.269388197455342

### Hacking