In [1]:
import ast
import pandas as pd

In [2]:
df = pd.DataFrame({
    'sample': [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
})
df

      sample
0  [1, 2, 3]
1  [4, 5, 6]
2  [7, 8, 9]

In [3]:
df['sample'][0], type(df['sample'][0])

([1, 2, 3], list)

In [4]:
df.to_csv('sample.csv', index=False)

In [5]:
df2 = pd.read_csv('sample.csv')
df2

      sample
0  [1, 2, 3]
1  [4, 5, 6]
2  [7, 8, 9]

In [6]:
df2['sample'][0], type(df2['sample'][0])

('[1, 2, 3]', str)

In [7]:
df2['sample_list'] = [ast.literal_eval(d) for d in df2['sample']]
df2

      sample sample_list
0  [1, 2, 3]   [1, 2, 3]
1  [4, 5, 6]   [4, 5, 6]
2  [7, 8, 9]   [7, 8, 9]

In [8]:
df2['sample_list'][0], type(df2['sample_list'][0])

([1, 2, 3], list)