In [1]:
import requests
from bs4 import BeautifulSoup


def get_article_urls(target_url):
    r = requests.get(target_url) 
    soup = BeautifulSoup(r.text, "html.parser")
    atags = soup.find_all("a", class_='entry-title-link')
    article_urls = []
    for a in atags:
        article_urls.append(a.get('href'))     
    return article_urls

target_urls = [
    'https://upura.hatenablog.com/archive',
    'https://upura.hatenablog.com/archive?page=2',
    'https://upura.hatenablog.com/archive?page=3',
    'https://upura.hatenablog.com/archive?page=4'
]

res = []

for target_url in target_urls:
    res += get_article_urls(target_url)

In [2]:
len(res)

120

In [3]:
res[:5]

['https://upura.hatenablog.com/entry/2019/10/29/184617',
 'https://upura.hatenablog.com/entry/2019/10/27/211137',
 'https://upura.hatenablog.com/entry/2019/10/17/161038',
 'https://upura.hatenablog.com/entry/2019/10/02/093000',
 'https://upura.hatenablog.com/entry/2019/10/02/203057']

In [4]:
res[-5:]

['https://upura.hatenablog.com/entry/2018/11/18/153530',
 'https://upura.hatenablog.com/entry/2018/11/17/235430',
 'https://upura.hatenablog.com/entry/2018/11/12/210000',
 'https://upura.hatenablog.com/entry/2018/11/10/210427',
 'https://upura.hatenablog.com/entry/2018/11/05/190000']

In [5]:
def get_num_bookmark(target_url):
    url = f'https://bookmark.hatenaapis.com/count/entry?url={target_url}'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    return soup

bookmark = [get_num_bookmark(r) for r in res]

In [6]:
bookmark[:5]

[2, 9, 1, 1, 72]

In [7]:
bookmark[-5:]

[1, 25, 26, 3, 0]

In [8]:
import pandas as pd


df = pd.DataFrame({'url': res, 'bookmark': bookmark})
df.head()

                                                 url bookmark
0  https://upura.hatenablog.com/entry/2019/10/29/...        2
1  https://upura.hatenablog.com/entry/2019/10/27/...        9
2  https://upura.hatenablog.com/entry/2019/10/17/...        1
3  https://upura.hatenablog.com/entry/2019/10/02/...        1
4  https://upura.hatenablog.com/entry/2019/10/02/...       72

In [9]:
df.tail()

                                                   url bookmark
115  https://upura.hatenablog.com/entry/2018/11/18/...        1
116  https://upura.hatenablog.com/entry/2018/11/17/...       25
117  https://upura.hatenablog.com/entry/2018/11/12/...       26
118  https://upura.hatenablog.com/entry/2018/11/10/...        3
119  https://upura.hatenablog.com/entry/2018/11/05/...        0

In [10]:
type(df['bookmark'][0])

bs4.BeautifulSoup

In [11]:
df['bookmark'] = df['bookmark'].astype(str).astype(int)

In [12]:
df.describe()

         bookmark
count  120.000000
mean     7.941667
std     26.640241
min      0.000000
25%      0.000000
50%      1.000000
75%      3.000000
max    214.000000

In [13]:
score = 120 * (1 + 1)
print(score)

240