In [1]:
import pandas as pd
df = pd.DataFrame({'s': ['X,Y,Z', 'X', 'X,Y', 'X,Y,Z']},
                  index=['a', 'b', 'c', 'd'])
df

       s
a  X,Y,Z
b      X
c    X,Y
d  X,Y,Z

In [2]:
df['l'] = df['s'].str.split(',')
df

       s          l
a  X,Y,Z  [X, Y, Z]
b      X        [X]
c    X,Y     [X, Y]
d  X,Y,Z  [X, Y, Z]

In [3]:
ans = sum(df['l'], [])
ans

['X', 'Y', 'Z', 'X', 'X', 'Y', 'X', 'Y', 'Z']

In [4]:
import collections
c = collections.Counter(ans)
c

Counter({'X': 4, 'Y': 3, 'Z': 2})

In [5]:
set(ans)

{'X', 'Y', 'Z'}

In [6]:
len(set(ans))

3