In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'ID': ['A', 'B', 'C', 'D', 'E'],
    'job': [1, 0, 3, 5, 1],
    'area': ['X', 'Y', 'X', 'Z', 'Y']
})
df

  ID  job area
0  A    1    X
1  B    0    Y
2  C    3    X
3  D    5    Z
4  E    1    Y

In [3]:
df['job_equals_one'] = (df['job'] == 1)
df

  ID  job area  job_equals_one
0  A    1    X            True
1  B    0    Y           False
2  C    3    X           False
3  D    5    Z           False
4  E    1    Y            True

In [4]:
agg = df.groupby('area')['job_equals_one'].mean()
agg

area
X    0.5
Y    0.5
Z    0.0
Name: job_equals_one, dtype: float64

In [5]:
df['new'] = df['area'].map(agg.to_dict())
df

  ID  job area  job_equals_one  new
0  A    1    X            True  0.5
1  B    0    Y           False  0.5
2  C    3    X           False  0.5
3  D    5    Z           False  0.0
4  E    1    Y            True  0.5