In [1]:
import pandas as pd
df = pd.DataFrame({'s': ['X,Y,Z', 'X', 'XY,Y', 'Y,Z,XY']},
                  index=['a', 'b', 'c', 'd'])

In [2]:
df['l'] = df['s'].str.split(',')

In [3]:
df

        s           l
a   X,Y,Z   [X, Y, Z]
b       X         [X]
c    XY,Y     [XY, Y]
d  Y,Z,XY  [Y, Z, XY]

In [4]:
len(set(sum(df['l'], [])))

4

# 以下は説明用

In [5]:
df['l']

a     [X, Y, Z]
b           [X]
c       [XY, Y]
d    [Y, Z, XY]
Name: l, dtype: object

### 全てのリストを結合

In [6]:
sum(df['l'], [])

['X', 'Y', 'Z', 'X', 'XY', 'Y', 'Y', 'Z', 'XY']

### set()で集合にする（重複の解消）

In [7]:
set(sum(df['l'], []))

{'X', 'XY', 'Y', 'Z'}

### 大きさを調べる

In [8]:
len(set(sum(df['l'], [])))

4