In [37]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('test.csv', encoding='cp932')

In [38]:
df = pd.DataFrame(data = dataset, columns=['TICKER', 'DTYYYYMMDD', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE'])

In [39]:
type(dataset)

pandas.core.frame.DataFrame

In [40]:
dataset.columns=['TICKER', 'DTYYYYMMDD', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE']

In [41]:
dataset.head()

   TICKER  DTYYYYMMDD   TIME    OPEN    HIGH     LOW   CLOSE
0  EURUSD    20170102  80100  1.0513  1.0517  1.0513  1.0517
1  EURUSD    20170102  80200  1.0518  1.0519  1.0518  1.0519
2  EURUSD    20170102  80300  1.0518  1.0518  1.0518  1.0518
3  EURUSD    20170102  80400  1.0518  1.0519  1.0518  1.0519
4  EURUSD    20170102  80500  1.0519  1.0520  1.0519  1.0520

In [42]:
df.head()

   TICKER  DTYYYYMMDD  TIME  OPEN  HIGH  LOW  CLOSE
0     NaN         NaN   NaN   NaN   NaN  NaN    NaN
1     NaN         NaN   NaN   NaN   NaN  NaN    NaN
2     NaN         NaN   NaN   NaN   NaN  NaN    NaN
3     NaN         NaN   NaN   NaN   NaN  NaN    NaN
4     NaN         NaN   NaN   NaN   NaN  NaN    NaN